@use '../abstracts/' as *;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container { 
  width: min(70%, 1200px);
  margin: 0 auto;
  background-color: $background-color;
  font-family: "Inter", sans-serif;
}