<header class="header-pages">
    <h2 class="fredericka-the-great-regular">Matuszakowie</h2>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-dropdown">
                <button class="nav-button">
                    Teresa
                    <span class="nav-arrow">▾</span>
                </button>

                <ul class="nav-menu">
                    <li><a href="{{ '/babi/index.html' | relative_url }}">Om henne</a></li>
                    <li><a href="{{ '/babi/anecdotes.html' | relative_url }}">Anekdoter</a></li>
                    <li><a href="{{ '/babi/family_background.html' | relative_url }}">Familjebakgrund</a></li>
                    <li><a href="{{ '/babi/poem.html' | relative_url }}">Dikt</a></li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <button class="nav-button">
                    Kazimierz
                    <span class="nav-arrow">▾</span>
                </button>

                <ul class="nav-menu">
                    <li><a href="{{ '/dadi/index.html' | relative_url }}">Om honom</a></li>
                    <li><a href="{{ '/dadi/newspaper_article.html' | relative_url }}">Tidningsartikel</a></li>
                    <li><a href="{{ '/dadi/family_background.html' | relative_url }}">Familjebakgrund</a></li>
                </ul>
            </li>
        </ul>
        <a class="home-button" href="../index.html">
            <img src="../assets/images/Vector.png" alt="Hem">
        </a>
    </nav>
</header>