 <header class="header-home">
        <h1 class="fredericka-the-great-regular">Matuszakowie</h1>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-dropdown">
                    <button class="nav-button">
                        Teresa
                        <span class="nav-arrow">▾</span>
                    </button>

                    <ul class="nav-menu">
                        <li><a href="babi/index.html">Om henne</a></li>
                        <li><a href="babi/anecdotes.html">Anekdoter</a></li>
                        <li><a href="#">Familjebakgrund</a></li>
                        <li><a href="#">Dikt</a></li>
                    </ul>
                </li>
                <li class="nav-dropdown">
                    <button class="nav-button">
                        Kazimiersz
                        <span class="nav-arrow">▾</span>
                    </button>

                    <ul class="nav-menu">
                        <li><a href="dadi/index.html">Om honom</a></li>
                        <li><a href="#">Tidningsartikel</a></li>
                        <li><a href="#">Familjebakgrund</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>