@use '../abstracts/' as *;

.header-home {  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

@media (max-width: 1370px) {
  .header-home {
    flex-direction: column;
    margin: 20px 0;
  }
}

.header-pages {
  width: 100%;
  background-color: $header-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1370px) {
  .header-pages {
    flex-direction: column;
  }
}