<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matuszakowie</title>

    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->
     <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- <script src="assets/js/script.js" defer></script> -->
     <script src="{{ '/assets/js/script.js' | relative_url }}" defer></script>

</head>

<body>

    {% include hero-home.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

</body>

</html>