@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* :root {} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
